/*************** table general but not for UserGuide ***************************/
.main-content table {clear:both; width:600px; margin:2.0em 0 0.2em 20px; table-layout: auto; border-collapse:collapse; empty-cells:show; background-color:rgb(233,232,244);}
.main-content table {clear:both; width:600px;text-align:center;background:transparent; }
.main-content table {clear:both;width:95%;margin:2.0em 0 0.2em 20px; table-layout: auto; border-collapse:collapse; empty-cells:show; background-color:rgb(233,232,244);}
.main-content table td {height:3.0em; padding:2px 7px 2px 7px; border-left:solid 2px rgb(255,255,255); border-right:solid 2px rgb(255,255,255); border-top:solid 2px rgb(255,255,255); border-bottom:solid 2px rgb(255,255,255); background-color:rgb(225,225,225); text-align:left; font-weight:normal; color:rgb(80,80,80); font-size:12px;}
.main-content table th {height:1em; padding:2px 20px 2px 7px; border:0px; background-color:transparent; text-align:center; color:rgb(80,80,80); font-weight:normal; font-size:12px;}
.main-content table th {height:3.0em; padding:2px 20px 2px 7px; border-left:solid 2px rgb(255,255,255); border-right:solid 2px rgb(255,255,255); border-top:solid 2px rgb(255,255,255); border-bottom:solid 2px rgb(255,255,255); background-color:rgb(225,225,225); text-align:left; color:rgb(80,80,80); font-weight:bold; font-size:12px;}
.main-content table th {height:3.0em; padding:2px 20px 2px 7px; border-left:solid 2px rgb(255,255,255); border-right:solid 2px rgb(255,255,255); border-top:solid 2px rgb(255,255,255); border-bottom:solid 2px rgb(255,255,255); background-color:rgb(225,225,225); text-align:left; color:rgb(80,80,80); font-weight:bold; font-size:12px;}
.main-content table th.top {height:1em; padding:0 7px 0 7px; empty-cells:hide; background-color:transparent; text-align:center; color:rgb(255,255,255); font-weight:normal; font-size:12px;}
.main-content table th.top {height:3.5em; padding:0 7px 0 7px; empty-cells:show; background-color:rgb(175,175,175); text-align:left; color:rgb(255,255,255); font-weight:bold; font-size:12px;}
.main-content table th.top {height:3.5em; padding:0 7px 0 7px; empty-cells:show; background-color:rgb(175,175,175); text-align:left; color:rgb(255,255,255); font-weight:bold; font-size:12px;}

input {width:100px;}
#start-date,#booking-date {width:80px;}
#space,#currency,#full, #duration,#level {width:30px;}
#location{width:150px;}
#edit{width:60px;}
#delete{width:70px;}
#price{width:40px}
#student{width:300px;}
#cancel, #address, #company{width:350px;}
#long . td {width:400px;}
.nobreak { white-space:nowrap }

